/*
***************************************************************
* ESTILIZAÇÃO DO MENU LATERAL
**************************************************************
*/
.side-menu {
    background-color: var(--default-color-02);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    position: absolute;
    width: 250px;
    height: 83vh;
    left: 0;
}

.side-menu-actived {
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.side-menu ul {
    list-style: none;
}

.side-menu ul > li {
    background-color: var(--default-color-02);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    display: flex;
    height: 35px;

    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.online-dot {
    width: 5px;
    height: 5px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #1fdb1f;
}