/*
************************************************************************
* Componente de menu lateral onde serão apresentados os usuários online
************************************************************************
*/
.side-menu {
    background-color: var(--default-color-03);
    border-bottom-right-radius: 5px;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    position: absolute;
    width: 250px;
    height: 83vh;
    z-index: 1;
    left: 0;
}

.side-menu-actived {
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.side-menu > ul {
    list-style: none;
}

.side-menu > ul > li {
    background-color: var(--default-color-03);
    justify-content: left;
    align-items: center;
    margin: 10px auto;
    text-align: left;
    display: flex;
    height: 45px;
    width: 90%;
    
    font-weight: bolder;
    position: relative;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.side-menu > ul > li > p {
    position: absolute;
    left: 50px;
}

.side-menu ul > li > div.profile-circle {
    background-color: var(--default-color-04);
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    display: flex;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
}

/*
************************************************************************
* Responsividade do componente de menu lateral
************************************************************************
*/

@media (min-width: 1230px) {
    .side-menu {
        transform: translateX(0);
    }
}