/*
************************************************************************
* Componente de menu lateral onde serão apresentados os usuários online
************************************************************************
*/
.side-menu {
    background-color: var(--default-color-03);
    border-bottom-right-radius: 20px;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    position: absolute;
    width: 250px;
    height: 83vh;
    left: 0;
}

.side-menu-actived {
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.side-menu ul {
    list-style: none;
}

.side-menu ul > li {
    background-color: var(--default-color-03);
    width: 70%;
    justify-content: left;
    align-items: center;
    margin: 10px auto;
    text-align: left;
    display: flex;
    height: 45px;

    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}

.side-menu ul > li > div.profile-circle {
    background-color: var(--default-color-04);
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
}