<aside class="side-menu">
    <ul>
        <li><div class="online-dot"></div>Arlesson</li>
        <li><div class="online-dot"></div>Urameshy</li>
        <li><div class="online-dot"></div>Jhonny</li>
    </ul>
</aside>