<aside class="side-menu">
    <ul>
        <li>
            <div class="profile-circle">UR</div>
            <p>Urameshy</p>
        </li>
        <li>
            <div class="profile-circle">FR</div>
            <p>Farias</p>
        </li>
        <li>
            <div class="profile-circle">KA</div>
            <p>Kaio</p>
        </li>
    </ul>
</aside>