<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Arlesson Sales">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="./public/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./public/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon/favicon-16x16.png">
        <link rel="manifest" href="./public/favicon/site.webmanifest">
        
        <link rel="stylesheet" href="./public/styles/global.css">
        <link rel="stylesheet" href="./public/styles/pages/forms.css">
        <link rel="stylesheet" href="./public/styles/components/header.css">
        <link rel="stylesheet" href="./public/styles/components/aside.css">
        <script src="https://kit.fontawesome.com/9a606cc720.js" crossorigin="anonymous" defer></script>
        <script src="./public/scripts/forms.js" defer></script>
        <script src="./public/scripts/aside.js" defer></script>
        <title>Login</title>
    </head>
    <body>
        <%- include("./components/header.ejs") %>
        <%- include("./components/aside.ejs") %>
        <main>
            <section class="form-login">
                <header>
                    <h2 id="form-title">Sing in</h2>
                </header>
                <div class="form-toggle-container">
                    <button class="actived-button" value="form-login">Logar</button>
                    <button value="form-registration">Cadastrar</button>
                </div>

                <form id="form-login" action="/login" method="POST">
                    <div id="form-login-input-container">
                        <input class="form-login-text-input" name="name" type="text" placeholder="Nome de usuário" required autocomplete="additional-name"/>
                        <input class="form-login-text-input" name="password" type="password" placeholder="Senha" required autocomplete="current-password"/>                  
                        <% if (message) %>
                        <p class="form-red-message"><%= message %></p>
                    </div>
                    <div id="form-login-button-container">
                        <input class="form-login-button" type="submit" value="Entar" />
                    </div>
                </form>

                <form id="form-registration" action="/registration" method="POST" style="display: none;">
                    <div id="form-login-input-container">
                        <input class="form-login-text-input" name="name" type="text" placeholder="Nome de usuário" required autocomplete="additional-name"/>
                        <input class="form-login-text-input" name="password" type="password" placeholder="Senha" required autocomplete="current-password"/>
                        <% if (message) %>
                        <p class="form-red-message"><%= message %></p>
                    </div>
                    <div id="form-login-button-container">
                        <input class="form-login-button" type="submit" value="Cadastrar" />
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>